@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-Black.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-Bold.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-ExtraBlack.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-ExtraBold.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-Medium.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-Regular.ttf);
}
@font-face {
    font-family: WantedSans;
    src: url(./WantedSans-SemiBold.ttf);
}
