body,html{
    margin: 0;
    padding: 0;
}

#everything{
    width: 100vw;
    height: 100vh;
    

}

#top-bar{
    width: 100%;
    height: 10%;
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    color: white;
    padding: 30px;
    margin: 0;
}

#name{
    color: white;
}

#login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;

    width: 12%;
    height: 45%;
    
}

#login-button{
    width: 100px;
    height: 100%;
    border-radius: 6px;
    border: 0;
}

#login-icon{
    padding-right: 10px;
    /* transform: scaleX(-1); */
}
