@import url(font/font.css);

.headerContainer{
    width: 100vw;
    /* height: 44px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 22px;
    padding-left: 32px;
    background-color: black;
    box-sizing: border-box;
}


#tapie{
    color: white;
    font-family: WantedSans;
    font-weight: 600;
    font-size: 28px;
    /* line-height: 100%; */
    letter-spacing: 0%;

}

body{
    margin: 0px;
    padding: 0px;
}

#login_btn_logged{
    /* width: 120px;
    height: 44px; */
    display: flex;
    gap: 10px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 8px;
    background-color: #FFA4A4;
    align-items: center;
    justify-content: center;
    font-family: WantedSans;
    line-height: 100%;
    font-weight: 500;

}



#text_login{
    width: 42px;
    height: 19px;
    

    font-size: 16px;

    letter-spacing: 0%;
    display: flex;
    /* white-space: nowrap; */
}

#name{
    margin-left: 1100px;
    color: white;
}

#login_btn_notlogged{
    background-color: white;
    display: flex;
    gap: 10px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    border-radius: 8px;
    /* background-color: white; */
    align-items: center;
    justify-content: center;
    font-family: WantedSans;
    font-size: 16px;
    font-weight: 500;
}